div.bold-text {
    font-weight: bold;
    height: 200px;
}
* {
    line-height: 1.5;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
#containers {
        color: white;
        align-content: center;
        background-color: lightslategray;
        text-align: center;
        border: 2px solid #234864;
}